.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}

.mb10{margin-bottom:10px;}

.w30{width: 30px}
.w100{width: 100px}

.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}

.number{text-align: right; padding-right: 8px;}
.text{text-align: left; padding-left: 8px;}